<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{home/layout_detail}">
<head>
<title>Welcome to my Spring Boot Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<!-- Fragment-->
	<div layout:fragment="detail">


		<form
			th:action="@{/employee/items/expense/insertExpense(employeeId=${employee.id})}"
			method="post">

			<!-- Right Column Expense to Employee -->
			<div class="w3-col m8">
				<!-- Create Expense to Employee by Id  -->
				<div class="w3-card-4" th:object="${expense}">
					<header class="w3-container w3-light-grey">
						<h3>+ Add Expense</h3>
					</header>
					<div class="w3-container">
						<p>Create expense</p>
						<p></p>
						<hr>
						<p>
							<label class="w3-text-gray"><b>employee id</b></label> <input
								class="w3-input w3-border w3-light-grey" type="number"
								name="employeeId" th:value="${employee.id}" readonly>
						</p>

						<p>
							<label class="w3-text-gray"><b>Name</b></label> <input
								class="w3-input w3-border w3-light-grey" name="name"
								placeholder="festa" type="text" required>
						</p>

						<p>
							<label class="w3-text-gray"><b>Date</b></label> <input
								class="w3-input w3-border w3-light-grey" name="date"
								placeholder="1/1/2021" type="date" required>
						</p>

						<p>
							<label class="w3-text-gray"><b>Value</b></label> <input
								class="w3-input w3-border w3-light-grey" name="value"
								placeholder="0.0" step="0.01" min="0" type="number" value=0.0>
						</p>
						<Br>
						<hr>
						<div th:if="${message}"
							class="w3-panel w3-pale-green w3-center w3-display-container">
							<span onclick="this.parentElement.style.display='none'"
								class="w3-button w3-pale-green w3-large w3-display-topright">x</span>
							<p th:text="${message}"></p>
						</div>
					</div>
					<button type="submit" class="w3-button w3-block w3-gray w3-center">+
						Add</button>

				</div>
				<br>
			</div>
			<!-- End Right Column -->

		</form>
		<!-- End Form -->

	</div>
	<!-- End Fragment-->

</body>
</html>